[submodule "src/external/fixposition_driver"]
	path = src/external/fixposition_driver
	url = https://github.com/fixposition/fixposition_driver.git
[submodule "src/external/seyond_ros_driver"]
	path = src/external/seyond_ros_driver
	url = https://github.com/Seyond-Inc/seyond_ros_driver.git
[submodule "references/clearpath/clearpath_common"]
	path = references/clearpath/clearpath_common
	url = https://github.com/clearpathrobotics/clearpath_common.git
[submodule "references/clearpath/clearpath_config"]
	path = references/clearpath/clearpath_config
	url = https://github.com/clearpathrobotics/clearpath_config.git
[submodule "references/clearpath/clearpath_robot"]
	path = references/clearpath/clearpath_robot
	url = https://github.com/clearpathrobotics/clearpath_robot.git
[submodule "references/clearpath/robot_upstart"]
	path = references/clearpath/robot_upstart
	url = https://github.com/clearpathrobotics/robot_upstart.git
[submodule "references/clearpath/clearpath_simulator"]
	path = references/clearpath/clearpath_simulator
	url = https://github.com/clearpathrobotics/clearpath_simulator.git
[submodule "lidarslam_ros2/Thirdparty/gtsam"]
	path = lidarslam_ros2/Thirdparty/gtsam
	url = https://github.com/borglab/gtsam.git
